# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/usedbookmarket.iml
.idea/vcs.xml
usedbook/usedbook/__pycache__/
usedbook/usedbook/spiders/__pycache__/

